@font-face {
  font-family: 'Baskervvol Base';
  src: url('css/BBBBaskervvol-Base.woff') format('woff2'),
      url('css/BBBBaskervvol-Base.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Baskervvol Fondue';
  src: url('css/BBBBaskervvol-Fondue.woff') format('woff2'),
      url('css/BBBBaskervvol-Fondue.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Crozet';
  src: url('css/Crozet·te-Regular.woff') format('woff2'),
      url('css/Crozet·te-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  padding-top: 200px;
  min-height: 100vh;
  margin: 0;
}

header, main {
  margin: 0 auto;
  max-width: 1000px;
  line-height: 1.5;
  text-align: left;
}

main {
  flex-grow: 1;
}

h1, h2, h4 {
  color: #fcea1a;
  text-shadow:        
      2px 0 #7079E6, -2px 0 #7079E6, 0 2px #7079E6, 0 -2px #7079E6,
      1px 1px #7079E6, -1px -1px #7079E6, 1px -1px #7079E6, -1px 1px #7079E6;
  margin: 0;
  font-weight: normal;
  font-style: normal;
  text-align: center;
}

h1 { 
  font-family: 'Crozet'; 
  font-size: 60px; 
}
h2 { font-family: 'Crozet'; font-size: 50px; }
h4, h5, p, ul { font-family: 'Baskervvol Fondue'; }
h4 { 
  font-size: 35px;
  margin-bottom: 10px;
}

p, ul {
  max-width: 1000px;
  font-size: 18px;
  color: #7079E6;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 
    1px 1px #fcea1a;
}

.spacer {
  height: 80px;
  margin-top: 100px;
}

a {
  color: #7079E6;
  text-decoration: none;
}

@media (max-width: 700px) {
  h1 { font-size: 28px; }
  h2 { font-size: 24px; }
  h4 { font-size: 15px; }
  h1, h2, h4 { font-family: 'Baskervvol Fondue'; }
  p, ul { font-size: 10px; max-width: 90%; }
  body {
    background-image: url('img/opencall_mobileBG.png');
    background-size: cover;
    background-position: center;
  }
}
