@font-face {
  font-family: 'Amiamie Amiamie';
  src: url('css/Amiamie-Black.woff') format('woff2'),
      url('css/Amiamie-Black.woff2') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Amiamie';
  src: url('css/Amiamie-Regular.woff') format('woff2'),
      url('css/Amiamie-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Crozet';
  src: url('css/Crozet·te-Regular.woff') format('woff2'),
      url('css/Crozet·te-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background: rgb(83,109,230);
  background: radial-gradient(circle, rgba(83,109,230,1) 0%, rgba(105,45,115,1) 52%, rgba(226,140,167,1) 91%);
}

h1 {
  color: #fcea1a;
  text-align: center;
  font-family: 'Crozet';
  font-weight: normal;
  font-style: normal;
  font-size: 82px;
  margin: 0;
}
h2 {
  color: #fcea1a;
  text-align: center;
  font-family: 'Crozet';
  font-weight: normal;
  font-style: normal;
  font-size: 70px;
  margin: 0;
}
h3 {
  color: #fcea1a;
  text-align: center;
  font-family: 'Crozet';
  font-weight: normal;
  font-style: normal;
  font-size: 52px;
  margin: 0;
} 

h4 {
  color: #fcea1a;
  text-align: center;
  font-family: 'Crozet';
  font-weight: normal;
  font-style: normal;
  font-size: 44px;
}
h5 {
  color: #fcea1a;
  text-align: center;
  font-family: 'Crozet';
  font-weight: normal;
  font-style: normal;
  font-size: 36px;
}

p {
  font-family: 'Amiamie Amiamie';
  font-weight: normal;
  font-style: normal;
}

ul {
  font-family: 'Amiamie Amiamie';
  font-weight: normal;
  font-style: normal;
  max-width: 900px;
}

li {
  font-family: 'Amiamie Amiamie';
  font-weight: normal;
  font-style: normal;
} 