@font-face {
  font-family: 'Baskervvol Base';
  src: url('css/BBBBaskervvol-Base.woff') format('woff2'),
      url('css/BBBBaskervvol-Base.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Baskervvol Fondue';
  src: url('css/BBBBaskervvol-Fondue.woff') format('woff2'),
      url('css/BBBBaskervvol-Fondue.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Crozet';
  src: url('css/Crozet·te-Regular.woff') format('woff2'),
      url('css/Crozet·te-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  padding-top: 20px;
  min-height: 100vh;
  margin: 0;
  background-image: url('img/longwebsite-2026.jpg'); 
  background-size: 100% 100%; 
  background-repeat: no-repeat; 
  background-position: top;
}

header, main {
  margin: 0 auto;
  max-width: 1000px;
  line-height: 1.5;
  text-align: left;
}

main {
  flex-grow: 1;
}


h1, h2, h4 {
  color: #f846da;
  text-shadow:        
      2px 0 #ff8551, -2px 0 #ff8551, 0 2px #ff8551, 0 -2px #ff8551,
      1px 1px #ff8551, -1px -1px #ff8551, 1px -1px #ff8551, -1px 1px #ff8551;
  margin: 0;
  font-weight: normal;
  font-style: normal;
  text-align: center;
}

h1 { 
  font-family: 'Crozet'; 
  font-size: 60px; 
}
h2 { font-family: 'Crozet'; font-size: 50px; }
h4, h5, p, ul { font-family: 'Baskervvol Fondue'; }
h4 { 
  font-size: 35px;
  margin-bottom: 10px;
}

p, ul {
  max-width: 1000px;
  font-size: 18px;
  color: #fb4e04;
  font-family: Arial, Helvetica, sans-serif;
}

.spacer {
  height: 80px;
  margin-top: 100px;
}

a {
  color: #eabdaa;
;
  text-shadow: 
    1px 1px #f846da;

}

a:hover {
  color: #f846da;
  text-shadow: 
    1px 1px #ff8551;
}

.navbar header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar header ul li a {
  display: block;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar header ul li a:hover {
  background-color: #ff8551;
}

.navbar-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

@media (max-width: 900px) {

  body {
    background-image: url(img/mobilewebsite-2026.jpg);
    text-shadow: none;
  }
  h1 { font-size: 28px; }
  h2 { font-size: 24px; }
  h4 { font-size: 15px; }
  h1, h2, h4 { font-family: 'Baskervvol Fondue'; }
  p, ul { font-size: 10px; max-width: 90%; }

  p, ul {
    font-size: 12px; /* Slightly bigger for readability */
    max-width: 90%;  /* Ensures they don't touch the edges */
    margin: 0 auto;  /* Centers text properly */
    text-align: center; /* Ensures all text is centered */
  }

  main {
    padding: 10px;
    width: 95%; /* Expands to fit smaller screens */
    max-width: 100%; /* Prevents it from being too narrow */
  }
}
